<div class="container">
    <div class="col-container">
        <div class="col-repeat-container">
            <div class="page-header">
                <h2>The value of Money</h2>
            </div>
            <div class="col-left">
                <figure><img src="img/money.jpg" alt="Dollar bills">
                <figcaption>Money</figcaption>
                </figure>
            </div>
            <div class="col-right">
                <p>People seek money because it has purchasing power; and part of this purchasing power is gen­erated by the people’s demand for money. But is this not reasoning in a vicious circle?
                    <br>
                    It is not! According to Ludwig von Mises’ “regression theory,” we must be mindful of the time factor. Our quest for cash hold­ings is conditioned by money pur­chasing power in the immediate past, which in turn was affected by earlier purchasing power, and so on until we arrive at the very inception of the monetary demand. At that particular moment, the purchasing power of a certain quantity of gold or silver was de­termined by its nonmonetary uses only.
                    <br>
                    This leads to the interesting conclusion that the universal use of paper monies today would be in­conceivable without their prior use as “substitutes” for real money, such as gold and silver, for which there was a nonmonetary demand. Only when man grew ac­customed to these substitutes, and governments deprived him of his freedom to employ gold and silver as media of exchange, did govern­ment tender paper emerge as the legal or “fiat money.” It has value and purchasing power, although it lacks any nonmonetary demand, because the people now direct their monetary demand toward govern­ment tender paper. If for any reason this public demand should cease or be redirected toward real goods as media of exchange, the fiat money would lose its entire value. The Continental Dollar and various foreign currencies over the years illustrate the point.
                </p>
            </div>
        </div>

        <div class="col-repeat-container footer-border suffixtop">
            <div class="page-header">
                <h2>GMO Food</h2>
            </div>
            <div class="col-left">
                <figure><img src="img/food.jpg" alt="Processed food">
                <figcaption>GMO Food</figcaption>
                </figure>
            </div>
            <div class="col-right">
                <p>Robert Goldberg sags into his desk chair and gestures at the air. “Frankenstein monsters, things crawling out of the lab,” he says. “This the most depressing thing I've ever dealt with.”
                    <br>
                    Goldberg, a plant molecular biologist at the University of California, Los Angeles, is not battling psychosis. He is expressing despair at the relentless need to confront what he sees as bogus fears over the health risks of genetically modified (GM) crops. Particularly frustrating to him, he says, is that this debate should have ended decades ago, when researchers produced a stream of exonerating evidence: “Today we're facing the same objections we faced 40 years ago.”
                    <br>
                    Across campus, David Williams, a cellular biologist who specializes in vision, has the opposite complaint. “A lot of naive science has been involved in pushing this technology,” he says. “Thirty years ago we didn't know that when you throw any gene into a different genome, the genome reacts to it. But now anyone in this field knows the genome is not a static environment. Inserted genes can be transformed by several different means, and it can happen generations later.” The result, he insists, could very well be potentially toxic plants slipping through testing.
                </p>
            </div>
        </div>

        <div class="col-repeat-container">
            <div class="page-header">
                <h2>The view of world in 2100</h2>
            </div>
            <div class="col-left">
                <figure><img src="img/earth.jpg" alt="Globe in hands">
                <figcaption>World in 2100</figcaption>
                </figure>
            </div>
            <div class="col-right">
                <p>Demographic projections are usually relatively accurate, as death and fertility rates don’t change drastically over time. However, the further into the future you go, the more chances there are that some of those rates will vary considerably, wreaking havoc in those projections.
                    <br>
                    Until recently, the consensus was that the world population would peak at around 11 billion people by the end of the century and then start shrinking as fertility rates go down. However, a more recent study projects a more rapid decrease in the fertility rate due to advances in women’s education and contraceptive use, with the world population peaking at around 9 billion people by 2100.
                    <br>
                    Whichever way you look at it, the world at the end of the century will be home to many more people, and it will be more densely populated, with higher pressure on resources and an already strained environment.
                </p>
            </div>
        </div>
    </div>
</div>
