<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="cards-container">
                <div class="cards">
                    <figure>
                        <img src="img/crow.jpg" alt="Silhouette of Crow">
                        <figcaption>Silhouette of crow</figcaption>
                    </figure>
                </div>

                <div class="cards">
                    <figure>
                        <img src="img/barter.jpg" alt="Barter Foundation">
                        <figcaption>Barter Foundation prototype</figcaption>
                    </figure>
                </div>

                <div class="cards">
                    <figure>
                        <img src="img/bubbletea.png" alt="Bubble Tea">
                        <figcaption>Blues bubble tea prototype</figcaption>
                    </figure>
                </div>

                <div class="cards">
                    <figure>
                        <img src="img/floresco.png" alt="Floresco">
                        <figcaption>Flower shop prototype</figcaption>
                    </figure>
                </div>

                <div class="cards">
                    <figure>
                        <img src="img/insight.png" alt="Insight poster">
                        <figcaption>Poster for Insight project</figcaption>
                    </figure>
                </div>

                <div class="cards">
                    <figure>
                        <img src="img/square.png" alt="Square Brackets">
                        <figcaption>Animation studio prototype</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
